<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/showBook.css">
</head>
<body>
    <h1>Show Book</h1>
    <div class="container">
        <button class="homeButton" onclick="window.location.href = '/'">home</button>
    </div>
    <script src="/javascripts/showBook.js"></script>
</body>
</html>