.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container2{
    
}
.container2 tr th{
    border: 1px solid black;
    border-radius:3px;
    padding: 0 50px;
}
.container2 tr td{
    border: 1px solid black;
    border-radius:3px ;
    padding: 0 50px;
}